body {
  --bgcolor: #171717;
  
  background: var(--bgcolor);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
}

span {
  font-family: Lexend;
  font-size: 2.5rem;
  margin-top: 2rem;
  color: gold;
}

.container-logo {
  --size: 256px;
  
  width: var(--size);
  height: var(--size);
  clip-path: inset(0);
  position: relative;
}

.logo {
  width: 100%;
  position: absolute;
}

.container-logo::after { 
  content: "";
  display: block;  
  background: var(--bgcolor);
  mix-blend-mode: hard-light;
  animation: loading 10s ease forwards;
}

@keyframes loading {
  0% { height: 100%; }
  100% { height: 0% }
}